body header {
    position: relative;
    width: 100%;
}

body header .acordeon {
    width: 100%;
    margin: 0px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body header .acordeon .titulo {
    background: transparent;
    cursor:pointer;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 0px solid #000;
    /* box-shadow: 0px 0px 3px 1px; */

    text-align: center;
}

body .border {
    border-radius: 10px 10px 0px 0px;
}

body .par {
    width: 100%;
    padding: 20px 0px;
    background: rgba(255,255,255, 1);
    margin: 0;
    display: none;
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; */
}

body .par a {
    text-decoration: none;
    color: #000;
    margin-bottom: 0px;
    display: block;
    text-align: center;
    padding: 20px 0 0 0;
}

/*
body .contenido p {
    background: rgba(255,255,255,.5);
    padding: 20px 40px 65px 20px;
    text-align: left;
    line-height: 23px;
    margin: 0px;
    font-size: .9em;
    display: none;
}
*/

@media screen and (min-width: 600px) {
    body header .acordeon {
        display: none;
    } 
}

@media screen and (max-width: 600px) {
    body header .acordeon {
        width: 100%;
    }

    body .contenedor {   
        padding: 0px 0px 40px 0px;
    }
}