article {
    background-color:#1A1A1A;
    width: 100%;
    padding: 150px 0;
}

article .wrapper {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article .wrapper .contenedor-info {
    width: 64%;
    text-align: justify;
}

article .wrapper .contenedor-info .dato:nth-child(1){
    margin-bottom: 80px;
}

article .wrapper .contenedor-info h2 {
    background: linear-gradient(60deg,#ff6a3f,#df1238);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; /*TEXTO CON FONDO DEGRADADO*/
    
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

article .wrapper .contenedor-info p {
    color: #fff;
}

/* CONTENEDOR DE IMAGENES */

article .wrapper .contenedor-imagenes {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 32%;
}

article .wrapper .contenedor-imagenes .imagen {
    max-height: 180px;
    border: 2px solid rgba(255, 255, 255, .7);
}

article .wrapper .contenedor-imagenes .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

 article .wrapper .contenedor-imagenes .uno {
    grid-column: 1 / 3;
    grid-row: 1/ 2;
}

article .wrapper .contenedor-imagenes .dos {
    grid-column: 1/3;
    grid-row: 2/ 3;
}

article .wrapper .contenedor-imagenes .tres {
    grid-column: 1/2;
    grid-row: 3 / 4;
}

article .wrapper .contenedor-imagenes .cuatro {
    grid-column: 2/ 3;
    grid-row: 3/4;
}

