footer {
    width: 100%;
    background: rgb(19, 18, 18);
    text-align: center;
    padding: 30px 0;
    color: #fff;
}

.contenedor-footer {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-footer .redes {
    width: 25%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.contenedor-footer .redes i {
    color:white;
    font-size: 25px;
}

.contenedor-footer h4 {
    font-weight: 500;
}

.contenedor-footer a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 600px){
    .contenedor-footer .redes {
        width: 50%;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
    }
}