/*GENERALES ------------------------------------------------>*/
img {
    object-fit: cover;
    min-width: 100%;
}

/* CONTENEDORES GENERALES ------------------------------------------------>*/
.hero {
    width: 100%;
    margin: 0;
    display: block;
    position: static;
}

.hero .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgb(43, 40, 46);
    overflow: hidden;
}

/* HEADER ------------------------------------------------> */
#burger, header label {
    display: none;
}


#burger:checked ~ nav {
    transform: translate(0);
}

header {
    width: 100%;
    min-height: 73px;
    max-height: 73px;
    /* background-color: rgba(0, 0, 0, .3); */
    background: #131212;
    margin: 0;  
    padding: 25px 100px;
    position: fixed;
    z-index: 200;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    font-size: 22px;
}

header nav ul li a:hover {
    color: #f2c968;
    transition: all 0.6s ease;
}

/* TITULAR ------------------------------------------------>*/
.titular .titulo i {
    color: #FFCF47;
    font-size: 38px;
    margin-bottom: 20px;
    display: none;
}

.titular {
    margin-top: 73px;
}

.hero .wrapper .titular {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero .wrapper .titular .imagen {
    width: 50%;
    height: 350px;
}

.hero .wrapper .titular .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .wrapper .titular .titulo {
    width: 50%;
    height: 350px;
    background: #1A1A1A;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 70px;
}

.hero .wrapper .titular .titulo h1 {
    background: linear-gradient(60deg,#FCE40B,#8BF609);
    /* linear-gradient(60deg,#ff6a3f,#df1238); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; /*TEXTO CON FONDO DEGRADADO*/
    margin: 0 0 5px 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 34px;
} 

.hero .wrapper .titular .titulo p {
    width: 100%;
}

/* BANNER ------------------------------------------------>*/
.hero .wrapper .banner {
    width: 100%;
    min-height: 450px;
    max-height: 450px;
    background-image: url(../img/nosotros/banner-img.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    flex-direction: column;
    position: relative;
}

.hero .wrapper .banner h2 {
    text-transform: uppercase;
    background: linear-gradient(60deg,#FCE40B,#8BF609);
    /* linear-gradient(60deg,#ff6a3f,#df1238); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; /*TEXTO CON FONDO DEGRADADO*/
    margin-bottom: 5px;
    font-size: 34px;
}

.hero .wrapper .banner p {
    margin-bottom: 30px;
    color: #fff;
}

.hero .wrapper .banner .btn {
    background: purple;
    padding: 12px 40px;
}

.hero .wrapper .banner .btn a {
    text-decoration: none;
    color: #fff;
}

.hero .wrapper .banner-contenedor {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CARRETE ------------------------------------------------>*/
.hero .wrapper .carrete {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hero .wrapper .carrete .imagen {
    width: 25%;
    height: 200px;
}

.hero .wrapper .carrete .imagen:hover {
    transform: scale(1.2);
    transition: 300ms;
}

/* PERSONAL ------------------------------------------------>*/
.equipo .wrapper {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    color: #fff;
}

.equipo .wrapper h2 {
    width: 100%;
}

.equipo .wrapper .personas {
    width: 48%;
}

.equipo .wrapper .personas .personas__contenedor {
    width: 100%;
    height: 150px;
    background: #131212;
    margin-top: 20px;
    display: flex;
}

.equipo .wrapper .personas .personas__contenedor .imagen {
    width: 25%;
    height: 100%;
}

.equipo .wrapper .personas .personas__contenedor .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.equipo .wrapper .personas .personas__contenedor .info {
    width: 73%;
}

.equipo .wrapper .personas .personas__contenedor .info h3 {
    color: #fff;
    padding: 20px 0px 0px 25px;
}

.equipo .wrapper .personas .personas__contenedor .info p {
    color: #fff;
    padding: 4px 0px 0px 25px;
    text-align: justify;
}

.equipo .wrapper .descripcion {
    width: 40%;
    height: 100%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}


.equipo .wrapper .descripcion .descripcion__parrafo p{
    font-size: 26px;
    text-align: left;
    line-height: 40px;
}

.equipo .wrapper .descripcion .descripcion__icono {
    margin-top: 60px;
}

.equipo .wrapper .descripcion .descripcion__icono i {
    font-size: 75px;
    color: #FFF;
}

.equipo .wrapper .descripcion .descripcion__icono .uno {
    color: #b9b9b9;
    margin-right: -68px;
}

.equipo .wrapper .descripcion .descripcion__icono .tres {
    color: #dddddd;
    margin-left: -68px;
}
/* MEDIAQUERIES */

@media screen and (max-width: 860px) {
    header {
        justify-content: right;
        padding: 0px 25px;
    }

    header nav {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(51, 51, 51, .9);
        top: 73px;
        right: 0;
        transition: all 0.6s;
        transform: translate(100%);
        align-items: center;
    } 
    

    header label {
        font-size: 29px;
        cursor: pointer;
        color: #fff;
        display: block;
    }


    /* header nav {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(51, 51, 51, .9);
        top: 73px;
        right: 0;
        transition: all 0.6s;
        transform: translate(100%);
        align-items: center;
    } */

    header nav ul {
        margin-top: 30px;
    }

    header nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header nav ul li a {
        color: #fff;
        text-decoration: none;
        margin-left: 0px;
        font-size: 22px;
        padding: 7px 0;
    }

    /* LO DE ABAJO */
    .hero .wrapper .titular {
        flex-direction: column;
        margin-top: 0px;
    }

    .hero .wrapper .titular .imagen,
    .hero .wrapper .titular .titulo {
        width: 100%;
    }

    .hero .wrapper .carrete .imagen {
        width: 50%;
    }
    
    .equipo .wrapper {
        flex-direction: column;
    }

    .equipo .wrapper .personas {
        width: 100%;
    }

    .equipo .wrapper .descripcion {
        width: 100%;
        height: 100%;
        margin-top: 60px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

@media screen and (max-width: 580px) {
    header {  
        padding: 0px 15px;
    }

    .hero .wrapper .titular .titulo h1,
    .hero .wrapper .banner h2 {
        font-size: 1.9rem;
        margin-bottom: 5px;
    }

    .hero .wrapper .banner .banner-contenedor {
        padding: 0px 60px;
    }

    .hero .wrapper .banner-contenedor p {
        font-size: 20px;
    }

    .hero .wrapper .titular .titulo {
        padding: 0px 60px;
    }
}

@media screen and (max-width: 376px) {
    .hero .wrapper .carrete .imagen {
        width: 100%;
    }
}