/* color: #2B2B2B;
color: #1A1A1A; */

body section {
    width: 100%;
    height: auto;
    background: #1A1A1A;
    padding: 120px 0;
    font-size: 16px;
}

body section .wrapper {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

body section h2 {
    width: 100%;
    margin-bottom: 50px;
    
    background: linear-gradient(60deg,#FCE40B,#8BF609);
    /* linear-gradient(60deg,#ff6a3f,#df1238); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; /*TEXTO CON FONDO DEGRADADO*/
    
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
}

body section .contenedor-eventos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

section .contenedor-eventos .caja {
    width: 38%;
    height: auto;
    margin-bottom: 62px;
    /* background: cornflowerblue; */
    text-align: center;
    color: #fff;
}

section .contenedor-eventos .caja:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

section .contenedor-eventos .caja .imagen {
    border: 0px solid white;
}

section .contenedor-eventos .caja .imagen img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 0;
    vertical-align: top;
}


.descripcion {
    margin-top: 28px;
    text-align: center;
}

.descripcion h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: 500;
    
    background: linear-gradient(60deg,#FCE40B,#8BF609);
    /* linear-gradient(60deg,#ff6a3f,#df1238); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;

    font-family: 'Montserrat Alternates', sans-serif;
}

.descripcion p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 720px) {
    section .contenedor-eventos .caja {
        width: 45%;
        height: auto;
        /* background: cornflowerblue; */
        text-align: center;
        color: #fff;
        margin-bottom: 52px;
    }

    .descripcion {
        margin-top: 16px;
        text-align: center;
    }

    body section .contenedor-eventos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    section .contenedor-eventos .caja .imagen {
        border: none;
    }

    section .contenedor-eventos .caja img {
        width: 100%;
        max-height: 190px;
        object-fit: cover;
        margin: 0;
        vertical-align: top;
    }
}

@media screen and (max-width: 525px) {
    body section .contenedor-eventos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 0px;
    }

    section .contenedor-eventos .caja {
        width: 100%;
        height: auto;
        /* background: cornflowerblue; */
        text-align: center;
        color: #fff;
        margin-bottom: 52px;
    }

    body section h2 {
        font-size: 1.9rem;
    }
}